In [59]:
# Importing required libraries
# for interacting with the operating system
import os 

# for numerical computations
import numpy as np  

# for data manipulation and analysis
import pandas as pd 

# for data visualization
from matplotlib import pyplot as plt  

%matplotlib inline
# for advanced data visualization
import seaborn as sns 

# to ignore warnings
import warnings
warnings.filterwarnings("ignore")  

# for finding files/pathnames that match a specified pattern
import glob  

# for working with zip files
import zipfile  

# for data preprocessing
from sklearn.preprocessing import StandardScaler  

# for model evaluation
from sklearn.metrics import classification_report, confusion_matrix  # for model evaluation

In [60]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
# List the files in the 'EyeT' directory
!ls '/content/drive/MyDrive/CE888/EyeT'

columns_explained.pdf
coordinate_system.pdf
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_10.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_11.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_12.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_13.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_14.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_15.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_16.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_17.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_18.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_19.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_20.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_21.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_22.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_23.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_24.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_25.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_26.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_27.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_28.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_29.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_30.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_31.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_32.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_33.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_34.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_35.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_36.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_37.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_38.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_39.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_41.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_42.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_43.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_44.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_45.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_46.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_47.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_48.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_8.csv
EyeT_group_dataset_III_image_name_letter_card_participant_11_trial_9.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_13_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_15_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_17_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_19_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_1_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_21_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_23_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_25_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_27_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_29_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_31_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_33_trial_8.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_35_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_37_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_39_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_10.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_11.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_12.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_13.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_14.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_15.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_8.csv
EyeT_group_dataset_III_image_name_letter_card_participant_3_trial_9.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_41_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_43_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_45_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_47_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_49_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_51_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_53_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_55_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_57_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_1.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_2.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_3.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_4.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_5.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_6.csv
EyeT_group_dataset_III_image_name_letter_card_participant_59_trial_7.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_0.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_10.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_11.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_12.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_13.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_14.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_15.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_16.csv
EyeT_group_dataset_III_image_name_letter_card_participant_5_trial_17.csv

In [62]:
# Create an empty DataFrame to store the data
dir_path =  r"/content/drive/MyDrive/CE888/EyeT"

# Find all the CSV files in the directory
csv_files = glob.glob(os.path.join(dir_path, "*.csv"))

# Create an empty DataFrame to store the data
df = pd.DataFrame()

# loop over the list of csv files
for file in csv_files:  
   
   # Read the first 3 rows (samples) of each CSV file , # 3 sample per file; total 502 files; total of 1506 samples

  temp_df = pd.read_csv(file, header=10, nrows=3) 

  # Append the temporary DataFrame to the main DataFrame

  df = df.append(temp_df, ignore_index=True)

# Show the first few rows of the DataFrame
df.head()

,3091,23484445,512157516,Eye Tracker,Test group experiment,24.09.2020,Participant0001,Recording1,24.09.2020.1,24.09.2020.2,...,"-0,36385","-0,22447","-0,90401","439,2","111,6","33,1","0,0561","0,1120","0,0561.1","0,1120.1"
0,3092.0,23492835.0,512165906.0,Eye Tracker,Test group experiment,24.09.2020,Participant0001,Recording1,24.09.2020,24.09.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3093.0,23501167.0,512174238.0,Eye Tracker,Test group experiment,24.09.2020,Participant0001,Recording1,24.09.2020,24.09.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3094.0,23509455.0,512182526.0,Eye Tracker,Test group experiment,24.09.2020,Participant0001,Recording1,24.09.2020,24.09.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Eye Tracker,Test group experiment,24.09.2020,Participant0001,NaN,24.09.2020,24.09.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Eye Tracker,Test group experiment,24.09.2020,Participant0001,NaN,24.09.2020,24.09.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Print the information about the DataFrame
df.info()
#df['Recording timestamp'].hist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Columns: 8975 entries, 3091 to 0,1120.1
dtypes: float64(3068), int64(2), object(5905)
memory usage: 103.1+ MB

In [64]:
# Displaying Total Number of Rows and coloumn
print('Number of rows:', df.shape[0])
print('Number of columns:', df.shape[1])

Number of rows: 1506
Number of columns: 8975

The more severe the symptoms of depression were, the less dilated the pupils would become. this data can be used to analyze depression based on empathy.

In [65]:
# compute features are used bsed on pupil dilation, eye position, and gazing
df1 = df.iloc[:, [33,34,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52]]

In [66]:
# Rename the columns of the DataFrame
df1.columns = ['P_dia_left', 'P_dia_right', 'Eyepos1','Eyepos2','Eyepos3','Eyepos4','Eyepos5', 'Gazefeature1','Gazefeature2',
               'Gazefeature3','Gazefeature4','Gazefeature5','Gazefeature6','Gazefeature7','Gazefeature8','Gazefeature9','Gazefeature10',]

In [67]:
# Show the first few rows of the DataFrame
df1.head()

,P_dia_left,P_dia_right,Eyepos1,Eyepos2,Eyepos3,Eyepos4,Eyepos5,Gazefeature1,Gazefeature2,Gazefeature3,Gazefeature4,Gazefeature5,Gazefeature6,Gazefeature7,Gazefeature8,Gazefeature9,Gazefeature10
0,"-0,99980","3,13","197,1","76,9","829,1","264,8","75,3","839,8","254,1","117,4","280,3","69,3","0,5100","0,3159","0,4780","0,3974","0,5420"
1,"-0,99977",NaN,"197,2","76,9","829,1","264,8","75,2","840,0","260,6","88,5","281,7","68,9","0,5196","0,2663","0,4939","0,2995","0,5454"
2,"-0,99968",NaN,"197,1","76,9","829,3","264,8","75,2","840,2","258,5","92,6","278,3","91,5","0,5130","0,3115","0,4888","0,3133","0,5371"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Print the statistical summary of the DataFrame
df1.describe()

,P_dia_left,P_dia_right,Eyepos1,Eyepos2,Eyepos3,Eyepos4,Eyepos5,Gazefeature1,Gazefeature2,Gazefeature3,Gazefeature4,Gazefeature5,Gazefeature6,Gazefeature7,Gazefeature8,Gazefeature9,Gazefeature10
count,18,295,18,21,18,21,18,18,18,18,21,21,18,20,18,18,18
unique,3,126,2,4,2,4,2,3,3,3,3,4,3,4,3,3,3
top,"-0,99980","3,17","197,1","76,9","829,1","264,8","75,2","839,8","254,1","117,4","280,3","69,3","0,5100","0,3159","0,4780","0,3974","0,5420"
freq,6,9,12,18,12,18,12,6,6,6,9,8,6,6,6,6,6

In [69]:
value = {'P_dia_left': -.9, 'P_dia_right': 2, 'Eyepos1': 190, 'Eyepos2': 45, 'Eyepos3': 600, 'Eyepos4': 230, 'Eyepos5': 40, 
         'Gazefeature1': 740, 'Gazefeature2': 240,'Gazefeature3': 80,'Gazefeature4': 240,'Gazefeature5': 90,'Gazefeature6': .47,
         'Gazefeature7': 0.3,'Gazefeature8': 0.45,'Gazefeature9': 0.28,'Gazefeature10': 0.5}  ## Created value near by the top value from describe function

In [70]:
# Replace all commas with periods in the DataFrame
df1 = df1.replace(',','.',regex=True)

# Fill missing values in the DataFrame with a specified value
df1 = df1.fillna(value)

# Show the first few rows of the DataFrame
df1.head()

,P_dia_left,P_dia_right,Eyepos1,Eyepos2,Eyepos3,Eyepos4,Eyepos5,Gazefeature1,Gazefeature2,Gazefeature3,Gazefeature4,Gazefeature5,Gazefeature6,Gazefeature7,Gazefeature8,Gazefeature9,Gazefeature10
0,-0.99980,3.13,197.1,76.9,829.1,264.8,75.3,839.8,254.1,117.4,280.3,69.3,0.5100,0.3159,0.4780,0.3974,0.5420
1,-0.99977,2,197.2,76.9,829.1,264.8,75.2,840.0,260.6,88.5,281.7,68.9,0.5196,0.2663,0.4939,0.2995,0.5454
2,-0.99968,2,197.1,76.9,829.3,264.8,75.2,840.2,258.5,92.6,278.3,91.5,0.5130,0.3115,0.4888,0.3133,0.5371
3,-0.9,2,190,45,600,230,40,740,240,80,240,90,0.47,0.3,0.45,0.28,0.5
4,-0.9,2,190,45,600,230,40,740,240,80,240,90,0.47,0.3,0.45,0.28,0.5

In [71]:
# Print the information about the DataFrame
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   P_dia_left     1506 non-null   object
 1   P_dia_right    1506 non-null   object
 2   Eyepos1        1506 non-null   object
 3   Eyepos2        1506 non-null   object
 4   Eyepos3        1506 non-null   object
 5   Eyepos4        1506 non-null   object
 6   Eyepos5        1506 non-null   object
 7   Gazefeature1   1506 non-null   object
 8   Gazefeature2   1506 non-null   object
 9   Gazefeature3   1506 non-null   object
 10  Gazefeature4   1506 non-null   object
 11  Gazefeature5   1506 non-null   object
 12  Gazefeature6   1506 non-null   object
 13  Gazefeature7   1506 non-null   object
 14  Gazefeature8   1506 non-null   object
 15  Gazefeature9   1506 non-null   object
 16  Gazefeature10  1506 non-null   object
dtypes: object(17)
memory usage: 200.1+ KB

In [72]:
# Displaying Total Number of Rows and coloumn
print('Number of rows:', df1.shape[0])
print('Number of columns:', df1.shape[1])

Number of rows: 1506
Number of columns: 17

In [73]:
# Import the KMeans module from the sklearn library
from sklearn.cluster import KMeans

In [74]:
# Create a KMeans clustering model with 2 clusters, using the first 504 rows of the DataFrame
kmeans = KMeans(n_clusters=2, random_state=0, n_init="auto").fit(df1.iloc[:504])

In [79]:
# printing values
kmeans.labels_

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0],
      dtype=int32)

In [80]:
# Use the KMeans model to predict the clusters for the remaining rows of the DataFrame
y_kmeans=kmeans.predict(df1.iloc[504:1506])

In [81]:
#Print the centers of the clusters identified by the KMeans model
kmeans.cluster_centers_

array([[-9.00000000e-01,  2.30131687e+00,  1.90000000e+02,
         4.50000000e+01,  6.00000000e+02,  2.30000000e+02,
         4.00000000e+01,  7.40000000e+02,  2.40000000e+02,
         8.00000000e+01,  2.40000000e+02,  9.00000000e+01,
         4.70000000e-01,  3.00000000e-01,  4.50000000e-01,
         2.80000000e-01,  5.00000000e-01],
       [-9.99750000e-01,  2.37666667e+00,  1.97133333e+02,
         7.69000000e+01,  8.29166667e+02,  2.64800000e+02,
         7.52333333e+01,  8.40000000e+02,  2.57733333e+02,
         9.95000000e+01,  2.80100000e+02,  7.65666667e+01,
         5.14200000e-01,  2.97900000e-01,  4.86900000e-01,
         3.36733333e-01,  5.41500000e-01]])

In [78]:
# Import the silhouette_score module from the sklearn.metrics library
from sklearn.metrics import silhouette_score

# Calculate the silhouette score for the KMeans model using the first 504 rows of the DataFrame
score = silhouette_score(df1.iloc[:504], kmeans.labels_, metric='euclidean')

# Print the score
print('Silhouette Score: %.3f' % score)

Silhouette Score: 0.995